@charset "utf-8";

body {
  background: #d4d4d4 url("/study_block/images/background.png");
  text-align: center;
  font-family: sans-serif; }

#idmain {
  border-radius: 1000px;
}

div {
  padding-top: 1em;
}

img:hover {
  opacity: 0.8;
}

    h1 {
      color: #1b1b1b;
      font-weight: bold;
      font-size: 32px;
      letter-spacing: -1px;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
      padding: 5px 0px 0px;
      margin: 0;
      opacity: 0.8;
    }

    h1:hover {
      color: #1b1b1b;
      font-weight: bold;
      font-size: 32px;
      letter-spacing: -1px;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
      padding: 5px 0px 0px;
      margin: 0;
      opacity: 1.0;
    }

h3 {
  color: #1b1b1b;
  font-size:16px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);

}

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
