---
title: Damianos Aivazidis
---
<br>
<img src="/study_block/images/image.JPG" class="welcome" id="idmain">
<h1 class="welcome">Damianos Aivazidis</h1>
<br>
<p class="doc">My CV</p>
<br>
<div>
  <p class="doc">Born in Thessaloniki, Greece. Date of birth: 26/11/1992</p>

  <br>
  <p class="doc">Currently studying Information Technology at the Alexander Technological Institute of Thessaloniki.
    Also ERASMUS+ student for the winter semester 2015-2016 at the Czech University of Life Sciences in Prague.
    Excellent knowledge of the English language, good knowledge of the German language.</p>
  <br>
  <h5>Follow me:</h5>
  <p><a href="https://www.facebook.com/damianos.aivazidis"><img src="../images/facebook.png" height="40"></a> <a href="https://twitter.com/D_aivazidis"><img src="../images/twitter.png" height="40"></a> <a href="https://www.linkedin.com/profile/view?id=AAIAABlqIVgBGK_e5UAGy8aDZWd0iPjzgDrJOfs&trk=nav_responsive_tab_profile_pic"><img src="../images/linkedin.png" height="40"></a> <a href="https://github.com/daivazid"><img src="../images/github.png" height="40"></a> <a href="https://plus.google.com/u/0/+DamianosAivazidis/posts"><img src="../images/googleplus.png" height="40"></a> <a href="https://foursquare.com/d_aivazidis"><img src="../images/foursquare.png" height="40"></a> <a href="callto://+damin26.dam"><img src="../images/skype.png" height="40"></a> <a href="mailto:damin26@hotmail.com"><img src="../images/mail.png" height="40"></a></p>
</div>
