---
title: Damianos Aivazidis
---
<div>
<img src="/study_block/images/image.JPG" class="welcome" id="idmain">
<h1 class="welcome">Damianos Aivazidis</h1>
</div>

<div>
<h4>My CV</h4>
</div>

<div>
  <p class="doc">Born in <b>Thessaloniki</b>, Greece. Date of birth: <b>26/11/1992</b></p>
</div>

<div>
  <p class="doc">Currently studying Information Technology at the Alexander Technological Institute of Thessaloniki.
    Also <i>ERASMUS+</i> student for the winter semester 2015-2016 at the Czech University of Life Sciences in Prague.
    Excellent knowledge of the English language, good knowledge of the German language.</p>
</div>
<div>
  <h3>Expectations from this course:</h3>
  <p class="doc">Learn the first steps in web design and get ready for new coding experiences!!</p>
</div>
<div>
  <h5>Follow me:</h5>
  <p><a href="https://www.facebook.com/damianos.aivazidis"><img src="/study_block/images/facebook.png" height="40"></a> <a href="https://twitter.com/D_aivazidis"><img src="/study_block/images/twitter.png" height="40"></a> <a href="https://www.linkedin.com/pub/damianos-aivazidis/ba/967/20"><img src="/study_block/images/linkedin.png" height="40"></a> <a href="https://github.com/daivazid"><img src="/study_block/images/github.png" height="40"></a> <a href="https://plus.google.com/u/0/+DamianosAivazidis/posts"><img src="/study_block/images/googleplus.png" height="40"></a> <a href="https://foursquare.com/d_aivazidis"><img src="/study_block/images/foursquare.png" height="40"></a> <a href="callto://+damin26.dam"><img src="/study_block/images/skype.png" height="40"></a> <a href="mailto:damin26@hotmail.com"><img src="/study_block/images/mail.png" height="40"></a></p>
</div>
